.zerogrid .row1{
   justify-content: space-between;
}
.row1{
   display: flex;
   width: 1000px;
} 

.wrap-container{
   width: 1000px;
}
.zerogrid{
   display: flex;
   align-items: center;
   justify-content:center;
}
.fila1{
   display: grid;
   grid-template-columns: 400px 600px;
}
.fila2{
   display: grid;
   grid-template-columns: 600px 400px;
}
.fila3{
   display: grid;
   grid-template-columns: 500px 500px;
}
.col-2-5{
   width: 400px;
}
.col-3-5{
   width: 600px;
}
.col-1-2{
   width: 500px;
}
div#caja-texto{
   width: 480px;
}
div.row5.wrap-box{
   height: 450px;
}
.wrap-footer{
   width: 1000px;
}
.row3{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px;
}
label.row4{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
}
